/**
 * @name Icon
 * @author ClearVision Team
 * @version 6.1.1
 * @description Highly customizable and beautiful theme for BetterDiscord
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://clearvision.gitlab.io
 * @invite dHaSxn3
*/

@import url('https://clearvision.gitlab.io/v6/main.css');

:root {

  --home-icon: url('https://i.imgur.com/0UTbnip.gif');
  --home-position: center;
  --home-size: 51px;
      }