/**
 * @name Spyro2
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness.
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @website https://gibbu.me
 * @authorId 174868361040232448
 * @BDEditor Frosted Glass
*/

@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://www.dropbox.com/s/kr8r9ac4glwva9c/SPOILER_IMG_9250~2-gigapixel-low_res-scale-6_00x.jpg?raw=1');
  --background-image-blur: 0px;
  --background-image-size: cover;
  --background-image-position: center left;
  --popout-image: url('https://www.dropbox.com/s/y6im6oc2jghluwk/1fb55b85332d08eaf64dce72313c22cc2.png?raw=1');
  --popout-image-blur: 0px;
  --popout-image-size: cover;
  --popout-image-position: top center;
  --overlay-image: url('https://www.dropbox.com/s/fu91nila5mce4d6/69aff7428a975a3423ed70c03e9af480.png?raw=1');
  --overlay-image-blur: 0px;
  --overlay-image-size: cover;
  --overlay-image-position: top center;
  --home-button-image: url('https://www.dropbox.com/s/aa4l7qwvykl98s2/7ee366ad37ecd10595c2b583cf4fb38e.png?raw=1');
  --home-button-size: 100%;
  --home-button-position: center;
  --serverlist-brightness: 0.3;
  --left-brightness: 0.52;
  --middle-brightness: 0.28;
  --right-brightness: 0.24;
  --overlay-brightness: 0.32;
  --gradient-primary: 103,58,183;
  --gradient-secondary: 63,81,181;
  --link-colour: #00b0f4;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 320deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: gg sans;
  --window-padding: 10px;
  --window-roundness: 7px;
  --update-notice-1: none;
  --rs-small-spacing: 0px;
  --rs-medium-spacing: 0px;
  --rs-large-spacing: 0px;
  --rs-small-width: 2.5px;
  --rs-medium-width: 5px;
  --rs-large-width: 3px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #00FF8B;
  --rs-idle-color: #FFBF00;
  --rs-dnd-color: #FF0000;
  --rs-offline-color: #000000;
  --rs-streaming-color: #5E00FF;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */


